.fullscrean {
  background-image: url('../../../../assets/img/1.avif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 100vh;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 2.75rem;
  color: #fff;
  padding: 0px 1rem;
}

.fullscrean::after {
  content: '';
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 1;
}

.fullscrean h1 {
  z-index: 2;
}
